@model SunridgeHOA.Models.Owner

@{
    ViewData["Title"] = "Delete Owner";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete @Model.FullName?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContactPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyContactPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.State)
        </dd>
    </dl>
</div>
<div class="form-group">
    <form asp-action="Delete">
        <input type="hidden" asp-for="OwnerId" />
        <input type="submit" value="Delete" class="btn btn-danger" />

    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>