@model SunridgeHOA.Models.Owner
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Model.FullName Details</h2>
<hr />
<div class="row">
    
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Occupation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Occupation)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Birthday)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Birthday)
            </dd>
            <dt>
                User is an admin?
            </dt>
            <dd>
                @if (ViewBag.IsAdmin)
                {
                    @:Yes
                }
                else
                {
                    @:No
                }
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Address.StreetAddress)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address.StreetAddress)
            </dd>
            @if (!String.IsNullOrEmpty(Model.Address.Apartment))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Address.Apartment)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address.Apartment)
                </dd>
            }
            
            <dt>
                @Html.DisplayNameFor(model => model.Address.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address.Zip)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address.Zip)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address.State)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address.State)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EmergencyContactName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EmergencyContactName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EmergencyContactPhone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EmergencyContactPhone)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OwnerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
