@model SunridgeHOA.Utility.PaginatedList<SunridgeHOA.Models.Owner>

@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Owners Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="ownerContainer">
        <h2>Owners Index</h2>

        <p id="createAlign">
            <a asp-action="Create"><button type="button" class="btn btn-primary btn-sm">Create New Owner</button></a>
            <a asp-action="CreateMany"><button type="button" class="btn btn-primary btn-sm">Create Many Owners</button></a>
        </p>

        <div id="searchalignBylot">
            <form asp-action="Index" class="form-inline">
                <div>
                    <div class="row">
                        <div>
                            <b>Search by name : </b><input type="text" name="Query" />
                        </div>
                        <div id="divSpace"></div>
                        <div>
                            <input type="submit" value="Search" id="search" class="btn btn-secondary btn-sm" />
                            <a asp-action="Index">Show Full List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <table>
            <thead>
                <tr id="headTr">
                    <th>
                        @Html.DisplayNameFor(model => model[0].FullName)
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].EmergencyContactName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].EmergencyContactPhone)
                    </th>
                    <th>
                        Lot(s)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var identityUser = await UserManager.FindByIdAsync(item.ApplicationUserId);

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @identityUser.UserName
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmergencyContactName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmergencyContactPhone)
                        </td>
                        <td>
                            @foreach (var lot in item.OwnerLots)
                            {
                                <p>@lot.Lot.LotNumber</p>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.OwnerId"><button type="button" class="btn btn-info btn-sm">Edit</button></a> |
                            <a asp-action="LoginInfo" asp-route-id="@item.OwnerId"><button type="button" class="btn btn-success btn-sm">Password Reset</button></a> |
                            <a asp-action="Details" asp-route-id="@item.OwnerId"><button type="button" class="btn btn-warning btn-sm">Details</button></a> |
                            <a asp-action="Delete" asp-route-id="@item.OwnerId"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-query="@ViewBag.CurrentQuery" class="btn btn-default @prevDisabled">Previous</a>
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-query="@ViewBag.CurrentQuery" class="btn btn-default @nextDisabled">Next</a>
    </div>
</div>














