@model SunridgeHOA.Areas.Owner.Models.ViewModels.FormIndexVM
@{
    ViewData["Title"] = "Submitted Forms";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sunridge Submitted Forms</h2>

<div class="row">
    <div class="col-md-12">
        <h4>Unresolved Forms</h4>
        @if (Model.Unresolved.Any())
        {
            <div class="table-responsive-sm">
                <table class="table table-responsive-sm table-hover">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Unresolved[0].FormTypeName)</th>
                        <th>@Html.DisplayNameFor(model => model.Unresolved[0].Owner)</th>
                        <th>@Html.DisplayNameFor(model => model.Unresolved[0].SubmitDate)</th>
                        <th></th>
                    </tr>
                    @foreach (var form in Model.Unresolved)
                    {
                        <tr>
                            <td>@form.FormTypeName</td>
                            <td>@form.Owner.FullName</td>
                            <td>@Html.DisplayFor(model => form.SubmitDate)</td>
                            <td>
                                @* Edit / comment / resolve? *@
                                <a asp-action="@form.FormAction" asp-route-id="@form.FormResponseId" class="btn btn-warning btn-sm">
                                    <span class="d-none d-lg-block">View</span>
                                    <i class="fas fa-info d-lg-none"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <p>No unresolved forms right now!</p>
        }
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <h4>Resolved Forms</h4>
        @if (Model.Resolved.Any())
        {
            <div class="table-responsive-sm">
                <table class="table table-responsive-sm table-hover">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Unresolved[0].FormTypeName)</th>
                        <th>@Html.DisplayNameFor(model => model.Resolved[0].Owner)</th>
                        <th>@Html.DisplayNameFor(model => model.Resolved[0].SubmitDate)</th>
                        <th>@Html.DisplayNameFor(model => model.Resolved[0].ResolveDate)</th>
                        <th>@Html.DisplayNameFor(model => model.Resolved[0].ResolveUser)</th>
                        <th></th>
                    </tr>
                    @foreach (var form in Model.Resolved)
                    {
                        <tr>
                            <td>@form.FormTypeName</td>
                            <td>@form.Owner.FullName</td>
                            <td>@Html.DisplayFor(model => form.SubmitDate)</td>
                            <td>@Html.DisplayFor(model => form.ResolveDate)</td>
                            <td>@form.ResolveUser</td>
                            <td>
                                @* Edit / comment / resolve? *@
                                <a asp-action="@form.FormAction" asp-route-id="@form.FormResponseId" class="btn btn-warning btn-sm">
                                    <span class="d-none d-lg-block">View</span>
                                    <i class="fas fa-info d-lg-none"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <p>No resolved forms right now!</p>
        }
    </div>
</div>