@model SunridgeHOA.Models.CommonAreaAsset

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CommonAreaAsset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsArchive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsArchive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommonAreaAssetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
