@model IEnumerable<SunridgeHOA.Models.CommonAreaAsset>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Common Area Assets</h2>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <a asp-action="Create" class="btn btn-primary btn-sm">Create New Assets</a>
    </div>
</div>

<div class="table-responsive-sm">
    <table class="table table-sm table-hover">
        <thead id="headTr">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AssetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PurchasePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchasePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.CommonAreaAssetId" class="btn btn-info btn-sm">
                                <span class="d-none d-lg-block">Edit</span>
                                <i class="fas fa-edit d-lg-none"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.CommonAreaAssetId" class="btn btn-warning btn-sm">
                                <span class="d-none d-lg-block">Details</span>
                                <i class="fas fa-info d-lg-none"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.CommonAreaAssetId" class="btn btn-danger btn-sm">
                                <span class="d-none d-lg-block">Delete</span>
                                <i class="fas fa-trash d-lg-none"></i>
                            </a>
                            <a asp-action="MaintenanceRecords" asp-route-id="@item.CommonAreaAssetId" class="btn btn-dark btn-sm">
                                <span class="d-none d-lg-block">Maintenance Records</span>
                                <i class="fas fa-history d-lg-none"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>