@model List<SunridgeHOA.Models.KeyHistory>

@{
    ViewData["Title"] = "Index";
}


<div class="row col-12">
    @*<div class="col-2">
        <partial name="~/Views/Shared/_AdminNavbar.cshtml" />
    </div>*@
    <div id="windowFrame" class="col-10">
        <h2>Key History Index</h2>

        <p id="createAlign">
            <a asp-action="Create"><button type="button" class="btn btn-primary btn-sm">Create New History</button></a>
        </p>

        <div id="searchalign">
            <form asp-action="Index" method="get" class="form-inline">
                <div>
                    <div class="row">
                        <div>
                            <b>Search : </b><input type="text" name="SearchString" />
                        </div>
                        <div id="divSpace"></div>
                        <div>
                            <input type="submit" value="Search" id="search" class="btn btn-secondary btn-sm" />
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <table>
            <thead>
                <tr id="headTr">
                    <th>
                        Status
                    </th>
                    <th>
                        Issued
                    </th>
                    <th>
                        Returned
                    </th>
                    <th>
                        Paid Amount
                    </th>
                    <th>
                        Key
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Archive
                    </th>
                    <th>
                        Last Modified By
                    </th>
                    <th>
                        Last Modified Date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateIssued)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateReturned)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaidAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Key.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsArchive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastModifiedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastModifiedDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.KeyHistoryId"><button type="button" class="btn btn-info btn-sm">Edit</button></a> |
                            <a asp-action="Details" asp-route-id="@item.KeyHistoryId"><button type="button" class="btn btn-warning btn-sm">Details</button></a> |
                            <a asp-action="Delete" asp-route-id="@item.KeyHistoryId"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
