@model List<SunridgeHOA.Models.KeyHistory>

@{
    ViewData["Title"] = "Key Assignment Index";
}

<div class="row col-12">
    <div id="windowFrame" class="col-10">
        <h2>Key Assignment Index</h2>

        <p id="createAlign">
            <a asp-action="Create"><button type="button" class="btn btn-primary btn-sm">Create New History</button></a>
        </p>

        <div id="searchalign">
            <form asp-action="Index" method="get" class="form-inline">
                <div>
                    <div class="row">
                        <div>
                            <b>Search : </b><input type="text" name="SearchString" />
                        </div>
                        <div id="divSpace"></div>
                        <div>
                            <input type="submit" value="Search" id="search" class="btn btn-secondary btn-sm" />
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <table>
            <thead>
                <tr id="headTr">
                    <th>
                        Key
                    </th>
                    <th>
                        Lot
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Issued
                    </th>
                    <th>
                        Returned
                    </th>
                    <th>
                        Paid Amount
                    </th>


                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key.SerialNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lot.LotNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateIssued)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateReturned)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaidAmount)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.KeyHistoryId"><button type="button" class="btn btn-info btn-sm">Edit</button></a> |
                        <a asp-action="Details" asp-route-id="@item.KeyHistoryId"><button type="button" class="btn btn-warning btn-sm">Details</button></a> |
                        <a asp-action="Delete" asp-route-id="@item.KeyHistoryId"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
