@model IEnumerable<SunridgeHOA.Models.Photo>

@{
    ViewData["Title"] = "My Photos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>My Photos</h2>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <a asp-action="Create" class="btn btn-primary btn-sm">Add New Photo</a>
    </div>
</div>

<div class="table-responsive-sm">
    <table class="table table-responsive-sm table-hover">
        <thead id="headTr">
            <tr>
                <th>@Html.DisplayNameFor(m => m.Category)</th>
                <th>@Html.DisplayNameFor(m => m.Title)</th>
                <th>@Html.DisplayNameFor(m => m.Owner.FullName)</th>
                <th>@Html.DisplayNameFor(m => m.Year)</th>
                <th id="photoImage">@Html.DisplayNameFor(m => m.Image)</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Category)</td>
                    <td>@Html.DisplayFor(m => item.Title)</td>
                    <td>@Html.DisplayFor(m => item.Owner.FullName)</td>
                    <td>@Html.DisplayFor(m => item.Year)</td>
                    <td id="photoImageAlign"><img src="@Html.DisplayFor(m => item.Image)" style="border-radius:5px;width:100%;" /></td>

                    <td>
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.PhotoId" class="btn btn-info btn-sm">
                                <span class="d-none d-lg-block">Edit</span>
                                <i class="fas fa-edit d-lg-none"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.PhotoId" class="btn btn-warning btn-sm">
                                <span class="d-none d-lg-block">Details</span>
                                <i class="fas fa-info d-lg-none"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.PhotoId" class="btn btn-danger btn-sm">
                                <span class="d-none d-lg-block">Delete</span>
                                <i class="fas fa-trash d-lg-none"></i>
                            </a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>