@model IEnumerable<SunridgeHOA.Models.ScheduledEvent>

@{
    ViewData["Title"] = "Calendar Events Index";
}

<h2>Calendar Events Index</h2>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <a asp-action="Create" class="btn btn-primary btn-sm">Create New Event</a>
    </div>
</div>
<div class="table-responsive-sm">
    <table class="table table-responsive-sm table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsFullDay)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.IsFullDay)*@
                        @if (item.IsFullDay)
                        {
                            <i class="fas fa-check"></i>
                        }
                        else
                        {
                            <span>-</span>
                        }

                    </td>
                    <td>
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info btn-sm">
                                <span class="d-none d-lg-block">Edit</span>
                                <i class="fas fa-edit d-lg-none"></i>
                            </a>
                            @*<a asp-action="Details" asp-route-id="@item.ID" class="btn btn-warning btn-sm">
                                <span class="d-none d-lg-block">Details</span>
                                <i class="fas fa-info d-lg-none"></i>
                            </a>*@
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">
                                <span class="d-none d-lg-block">Delete</span>
                                <i class="fas fa-trash d-lg-none"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>