@model LotIndexVM

@{
    ViewData["Title"] = "Lot Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Lot @Model.Lot.LotNumber Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lot.LotNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lot.LotNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrimaryOwner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaryOwner.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owners)
        </dt>
        <dd>
            @foreach (var owner in Model.Owners)
            {
                <p>@owner.FullName</p>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lot.TaxId)
        </dt>
        <dd>
            @{ var taxLink = $"http://www3.co.weber.ut.us/psearch/tax_summary.php?id={Model.Lot.TaxId}"; }
            <a href="@taxLink" target="_blank">@Html.DisplayFor(modelItem => Model.Lot.TaxId)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InventoryItems)
        </dt>
        <dd>
            @foreach (var item in Model.InventoryItems)
            {
                <p>@item.Description</p>
            }
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Lot.LotId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
