@model LotEditInventoryVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var inventory = ViewBag.Inventory as List<Inventory>;
}

<h2>Lot @Model.Lot.LotNumber Inventory</h2>
<hr />
<div class="row">
    <div class="col-md-3">  
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Lot.LotNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Lot.LotNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address.StreetAddress)
            </dd>
        </dl>
    </div>
    <div class="col-md-8">
        <form asp-action="EditLotItems">
            <input type="hidden" asp-for="@Model.Lot.LotId" />
            <input type="hidden" asp-for="@Model.Lot.LotNumber" />
            <h5>Items Present on Lot</h5>
            @foreach (var item in inventory)
            {
            <div class="form-group">
                @if (Model.SelectedItems.Contains(item.InventoryId))
                {
                    <input name="SelectedItems" type="checkbox" value="@item.InventoryId" checked />
                }
                else
                {
                    <input name="SelectedItems" type="checkbox" value="@item.InventoryId" />
                }
                <label class="control-label">@item.Description</label>

            </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Details" asp-route-id="@Model.Lot.LotId">Full Details</a> |
    <a asp-action="Index">Back to List</a>
</div>
