@model IEnumerable<SunridgeHOA.Models.Lot>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.StreetAddress)
            </th>
            <th>
                Owner (todo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Stuff on the lot
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LotNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetAddress)
            </td>
            <td>
                coming eventually
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                Lot items here
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LotId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LotId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LotId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
