@model IEnumerable<LotIndexVM>

@{
    ViewData["Title"] = "My Lots";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>My Lots</h2>

<div class="table-responsive-sm">
    <table class="table table-responsive-sm table-hover">
        <thead id="headTr">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Lot.LotNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address.StreetAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Owners)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lot.TaxId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InventoryItems)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lot.LotNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.StreetAddress)
                    </td>
                    <td>
                        <span style="font-weight:bold;">@Html.DisplayFor(modelItem => item.PrimaryOwner.FullName)</span>
                        <br />
                        @foreach (var owner in item.Owners)
                        {
                            @Html.DisplayFor(modelItem => owner.FullName)
                            <br />
                        }
                    </td>
                    <td>
                        @{ var taxLink = $"http://www3.co.weber.ut.us/psearch/tax_summary.php?id={item.Lot.TaxId}"; }
                        <a href="@taxLink" target="_blank">@Html.DisplayFor(modelItem => item.Lot.TaxId)</a>
                    </td>
                    <td>
                        @foreach (var inv in item.InventoryItems)
                        {
                            @Html.DisplayFor(modelItem => inv.Description)
                            <br />
                        }
                    </td>
                    <td>
                        <a asp-action="OwnerEdit" asp-route-id="@item.Lot.LotId" class="btn btn-info btn-sm">
                            <span class="d-none d-lg-block">Edit</span>
                            <i class="fas fa-edit d-lg-none"></i>
                        </a>
                        <a asp-action="EditLotItems" asp-route-id="@item.Lot.LotId" class="btn btn-warning btn-sm">
                            <span class="d-none d-lg-block">Edit Lot Items</span>
                            <i class="fas fa-wrench d-lg-none"></i>
                        </a>
                        <a asp-action="ViewFiles" asp-route-id="@item.Lot.LotId" class="btn btn-dark btn-sm">
                            <span class="d-none d-lg-block">Files</span>
                            <i class="fas fa-file-alt d-lg-none"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
