@model List<SunridgeHOA.Models.LotHistory>
@{
    ViewData["Title"] = "ViewFiles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Files for Lot @ViewBag.LotNumber</h2>

<div class="row">
    <div class="col-md-2">
        <p>
            <a asp-action="AddDocument" asp-route-id="@ViewBag.LotId" class="btn btn-primary">Upload new Document</a>
            <a asp-action="Index" class="d-block">Back to List</a>
        </p>
    </div>
</div>

@foreach (var hist in Model)
{
    <h4>@hist.Description</h4>
    <label class="control-label">Uploaded on @hist.Date.ToString("MM/dd/yyyy") by @hist.LastModifiedBy</label>
    <div>
        @foreach (var file in hist.Files)
        {
            <div>
                <a href="@file.FileURL">@file.Description</a>
            </div>
        }
    </div>
}

@if (!Model.Any())
{
    <p>There are currently no documents uploaded for this lot.</p>
}