@model SunridgeHOA.Models.Key

@{
    ViewData["Title"] = "Key Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row col-12">
    <div id="windowFrame" class="col-10">
        <h2>Key @Model.FullSerial Details</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.KeyId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.KeyId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FullSerial)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.KeyId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
