@model List<SunridgeHOA.Models.Key>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row col-12">
    @*<div class="col-2">
        <partial name="~/Views/Shared/_AdminNavbar.cshtml" />
    </div>*@

    <div id="windowFrame" class="col-10">
        <div>
            <h2>Key Index</h2>
                   
            <p id="createAlign">
                <a asp-action="Create"><button type="button" class="btn btn-primary btn-sm">Create New Key</button></a>
            </p>

            <div id="searchalign">
                <form asp-action="Index" method="get" class="form-inline">
                    <div>
                        <div class="row">
                            <div>
                                <b>Search : </b><input type="text" name="SearchString" />
                            </div>
                            <div id="divSpace"></div>
                            <div>
                                <input type="submit" value="Search" id="search" class="btn btn-secondary btn-sm" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>           


            <table>
                <thead>
                    <tr id="headTr">
                        <th>
                            Serial Number
                        </th>
                        <th>
                            Archive
                        </th>
                        <th>
                            Last Modified By
                        </th>
                        <th>
                            Last Modified Date
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsArchive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastModifiedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastModifiedDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.KeyId"><button type="button" class="btn btn-info btn-sm">Edit</button></a> |
                            <a asp-action="Details" asp-route-id="@item.KeyId"><button type="button" class="btn btn-warning btn-sm">Details</button></a> |
                            <a asp-action="Delete" asp-route-id="@item.KeyId"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
