@model List<SunridgeHOA.Models.Key>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="Stylesheet" href="~/css/Admin/transactions.css" type="text/css" />

<link rel="Stylesheet" href="~/css/Admin/adminnavbar.css?version=51" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/window.css" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/table.css" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/search-bar.css" type="text/css" />

<div class="row col-12">
    <div class="col-2">
        <partial name="~/Views/Shared/_AdminNavbar.cshtml" />
    </div>

    <div id="windowFrame" class="col-10">
        <div>
            <h2>Index</h2>

            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            SerialNumber
                        </th>
                        <th>
                            IsArchive
                        </th>
                        <th>
                            LastModifiedBy
                        </th>
                        <th>
                            LastModifiedDate
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SerialNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsArchive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastModifiedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastModifiedDate)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.KeyId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.KeyId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.KeyId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
