@model SunridgeHOA.Models.ClassifiedListing

@{
    ViewData["Title"] = "Details";
}
<div class="row col-12">
    <div class="col-2">
        <partial name="~/Views/Shared/_AdminNavbar.cshtml" />
    </div>
    <div id="windowFrame" class="col-10">
        <h2>Details</h2>

        <div>
            <h4>ClassifiedListing</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ItemName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ItemName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ListingDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ListingDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Owner)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.EmergencyContactName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ClassifiedCategory)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ClassifiedCategory.ClassifiedCategoryId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsArchive)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsArchive)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastModifiedBy)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastModifiedBy)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastModifiedDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastModifiedDate)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ClassifiedListingId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>