@model List<SunridgeHOA.Models.ClassifiedListing>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="ownerContainer">
        <h2>Post New Ad</h2>

        <p id="createAlign">
            <a asp-action="Create"><button type="button" class="btn btn-primary btn-sm">Create New Post Ad</button></a>
        </p>

        <table>
            <thead>
                <tr id="headTr">
                    <th>
                        Item<br />Name
                    </th>
                    <th>
                        Price
                    </th>
                    @*<th>
                        Description
                    </th>*@
                    <th>
                        Listing Date
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Classified<br />Category
                    </th>
                    <th>
                        Archive
                    </th>
                    <th>
                        Last Modified<br />By
                    </th>
                    <th>
                        Last Modified<br />Date
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ListingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedCategory.ClassifiedCategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsArchive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModifiedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModifiedDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClassifiedListingId"><button type="button" class="btn btn-info btn-sm">Edit</button></a> |                        
                        <a asp-action="Details" asp-route-id="@item.ClassifiedListingId"><button type="button" class="btn btn-warning btn-sm">Details</button></a> |
                        <a asp-action="Delete" asp-route-id="@item.ClassifiedListingId"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                    </td>                    
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>







