@model List<SunridgeHOA.Models.ViewModels.ClassifiedListingViewModel>
@using SunridgeHOA.Models.ViewModels
@using SunridgeHOA.Extensions
@{
    ViewData["Title"] = "Classifieds Index";
}

<div class="row">
    <div class="ownerContainer">
        <h2>Classifieds Index</h2>

        <p id="createAlign">
            <a asp-action="Create"><button type="button" class="btn btn-primary btn-sm">Create New Post Ad</button></a>
        </p>

        <table>
            <thead>
                <tr id="headTr">
                    <th>
                        Title
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Listing Date
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Image Count
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Where(x=>x.ClassifiedListing.IsArchive == false))
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.Price)
                    </td>
                    <td>
                        @item.ClassifiedListing.ListingDate.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.Owner.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.ClassifiedCategory.Description)
                    </td>
                    <td >
                        @item.ClassifiedImages.Where(u => u.ClassifiedListingId == item.ClassifiedListing.ClassifiedListingId).Count()
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClassifiedListing.ClassifiedListingId"><button type="button" class="btn btn-info btn-sm">Edit</button></a> |
                        <a asp-action="Details" asp-route-id="@item.ClassifiedListing.ClassifiedListingId"><button type="button" class="btn btn-warning btn-sm">Details</button></a> |
                        <a asp-action="Delete" asp-route-id="@item.ClassifiedListing.ClassifiedListingId"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>







