@model List<SunridgeHOA.Models.ViewModels.ClassifiedListingViewModel>
@using SunridgeHOA.Models.ViewModels
@using SunridgeHOA.Extensions
@{
    ViewData["Title"] = "Classifieds Index";
}

<div class="row">
    <div class="ownerContainer">
        <h2>Classifieds Index</h2>

        <p id="createAlign">
            <a asp-action="Create"><button type="button" class="btn btn-primary btn-sm">Post New Classified</button></a>
            <a asp-action="AddService"><button type="button" class="btn btn-primary btn-sm">Post New Service</button></a>
        </p>

        <table>
            <thead>
                <tr id="headTr">
                    <th>
                        Title
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Listing Date
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Description
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Where(x=>x.ClassifiedListing.IsArchive == false))
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.ItemName)
                    </td>
                    <td>
                        @if (item.ClassifiedListing.ItemName == "Service")
                        {
                            @:---
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ClassifiedListing.Price)
                        }

                    </td>
                    <td>
                        @item.ClassifiedListing.ListingDate.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.Owner.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.ClassifiedCategory.Description)
                    </td>
                    <td>
                        @{
                            var maxLength = 50;
                            var itemDescription = item.ClassifiedListing.Description;
                            var description = itemDescription.Length < maxLength
                                ? itemDescription
                                : itemDescription.Substring(100) + "...";
                        }
                        @itemDescription
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClassifiedListing.ClassifiedListingId"><button type="button" class="btn btn-info btn-sm">Edit</button></a> |
                        <a asp-action="Details" asp-route-id="@item.ClassifiedListing.ClassifiedListingId"><button type="button" class="btn btn-warning btn-sm">Details</button></a> |
                        <a asp-action="Delete" asp-route-id="@item.ClassifiedListing.ClassifiedListingId"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>







