@model List<SunridgeHOA.Models.ViewModels.ClassifiedListingViewModel>
@using SunridgeHOA.Models.ViewModels
@using SunridgeHOA.Extensions
@{
    ViewData["Title"] = "Index";
}
<div class="row col-12">
    <div class="col-2">
        <partial name="~/Views/Shared/_AdminNavbar.cshtml" />
    </div>
    <div id="windowFrame" class="col-10">
        <h2>Index</h2>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ItemName
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        ListingDate
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        ClassifiedCategory
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        IsArchive
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.Price)
                    </td>
                    <td>
                        @item.ClassifiedListing.Description.Truncate(100).Concatenate("...")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.ListingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.Owner.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.ClassifiedCategory.Description)
                    </td>
                    <td class="col-2">
                        @foreach (var image in item.ClassifiedImages.Where(x => x.ClassifiedListingId == item.ClassifiedListing.ClassifiedListingId))
                        {
                            @*<p>@image.ImageURL</p>*@
                            <img class="col-3" src="../../..@image.ImageURL" style="border-radius:5px;" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedListing.IsArchive)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClassifiedListing.ClassifiedListingId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ClassifiedListing.ClassifiedListingId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ClassifiedListing.ClassifiedListingId">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
