@model List<ClassifiedListing>
@{
    ViewData["Title"] = "My Classifieds";
}

<h2>My Classifieds</h2>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <p id="btn-group">
            <a asp-action="Create" class="btn btn-primary btn-sm btn-block">Post New Classified</a>
            <a asp-action="AddService" class="btn btn-primary btn-sm btn-block">Post New Service</a>
        </p>
    </div>
</div>

<div class="table-responsive-sm">
    <table class="table table-responsive-sm table-hover">
        <thead>
            <tr id="headTr">
                <th>
                    Title
                </th>
                <th>
                    Price
                </th>
                <th>
                    Listing Date
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Category
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @if (item.ItemName == "Service")
                        {
                            @:---
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Price)
                        }

                    </td>
                    <td>
                        @item.ListingDate.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassifiedCategory.Description)
                    </td>
                    <td>
                        @{
                            var maxLength = 50;
                            var itemDescription = item.Description;
                            var description = itemDescription.Length < maxLength
                                ? itemDescription
                                : itemDescription.Substring(0, maxLength) + "...";
                        }
                        @description
                    </td>
                    <td>
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.ClassifiedListingId" class="btn btn-info btn-sm">
                                <span class="d-none d-lg-block">Edit</span>
                                <i class="fas fa-edit d-lg-none"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.ClassifiedListingId" class="btn btn-warning btn-sm">
                                <span class="d-none d-lg-block">Details</span>
                                <i class="fas fa-info d-lg-none"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.ClassifiedListingId" class="btn btn-danger btn-sm">
                                <span class="d-none d-lg-block">Delete</span>
                                <i class="fas fa-trash d-lg-none"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>