@model SunridgeHOA.Models.ClassifiedListing
@{
    ViewData["Title"] = "Service Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Service Details</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ListingDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ListingDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Owner.FullName)
            </dd>
            <dt>
                Current image
            </dt>
            <dd>
                <img src="@Model.Images[0].ImageURL" style="max-width:300px;" />
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClassifiedListingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>