@model List<SunridgeHOA.Models.Photo>
@{
    ViewData["Title"] = "People Pictures";
}

<!-- inro section Grid -->
<section class=" p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4 text-center">People Photos</h1>
        </div>
    </div>
</section>

<!-- Testimonials -->
<div class="container gallery-container text-center mt-5 mb-5">

    <div class="tz-gallery">
        <div class="row">
            @foreach (var p in Model)
            {
                @if (p.Category == "People")
                {
                    <div class="col-sm-6 col-md-4 mb-4">
                        <a class="lightbox" href="~/images/PhotoGallery/@(p.PhotoId).png">
                            <img src="@p.Image" alt="@p.Title" />
                        </a>
                        <h5>@p.Owner.FullName</h5>
                        <p class="font-weight-light mb-0"><i>@p.Title</i></p>
                        <p class="font-weight-light mb-0">@p.Year</p>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>baguetteBox.run('.tz-gallery');</script>
}