@model IEnumerable<SunridgeHOA.Models.NewsItem>

@{
    ViewData["Title"] = "Index";
}



<div class="row col-12">
    <div class="col-2">
        <partial name="~/Views/Shared/_AdminNavbar.cshtml" />
    </div>

    <div id="windowFrame" class="col-10">
        <div>
            <h2>News Item List</h2>

            <p id="createAlign">
                <a asp-action="Create"><button type="button" class="btn btn-primary btn-sm">Add News Item</button></a>
            </p>
            
            <table>
                <thead>
                    <tr id="headTr">
                        <th>@Html.DisplayNameFor(m => m.Year)</th>
                        <th>@Html.DisplayNameFor(m => m.Header)</th>
                        <th id="actionsHeader">Actions</th>

                        @*<th>Header</th>
                        <th>Year</th>
                        <th id="actionsHeader">Actions</th>*@
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Year)</td>
                        <td>@Html.DisplayFor(m => item.Header)</td>                        
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.NewsItemId"><button type="button" class="btn btn-info btn-sm">Edit</button></a> |
                            <a asp-action="Details" asp-route-id="@item.NewsItemId"><button type="button" class="btn btn-warning btn-sm">Details</button></a> |
                            <a asp-action="Delete" asp-route-id="@item.NewsItemId"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>