@model IEnumerable<SunridgeHOA.Models.NewsItem>

@{
    ViewData["Title"] = "News Items";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>News Items</h2>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <a asp-action="Create" class="btn btn-primary btn-sm">Add News Item</a>
    </div>
</div>

<div class="table-responsive-sm">
    <table class="table table-sm table-hover">
        <thead>
            <tr id="headTr">
                <th>@Html.DisplayNameFor(m => m.Year)</th>
                <th>@Html.DisplayNameFor(m => m.Header)</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Year)</td>
                    <td>@Html.DisplayFor(m => item.Header)</td>
                    <td>
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.NewsItemId" class="btn btn-info btn-sm">
                                <span class="d-none d-lg-block">Edit</span>
                                <i class="fas fa-edit d-lg-none"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.NewsItemId" class="btn btn-warning btn-sm">
                                <span class="d-none d-lg-block">Details</span>
                                <i class="fas fa-info d-lg-none"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.NewsItemId" class="btn btn-danger btn-sm">
                                <span class="d-none d-lg-block">Delete</span>
                                <i class="fas fa-trash d-lg-none"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>