@model SunridgeHOA.Models.ViewModels.DashboardViewModel
@using SunridgeHOA.Extensions
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="Stylesheet" href="~/css/General/dashboard.css" type="text/css" />
<link rel="Stylesheet" href="~/css/Admin/adminnavbar.css?version=51" type="text/css" />


<div class="row col-12">
    @*<div class="col-2">
        <partial name="~/Views/Shared/_AdminNavbar.cshtml" />
    </div>*@
    <div id="windowFrame" class="col-12">
        <div class="col-12">

            <div class="row">
                <div id="titleDiv" class="col-12">
                    <p id="title">Dashboard</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="p-4 border rounded row">
                                <div class="col-12">
                                    <div class="row">
                                        <h5 id="subtitle">Information </h5>
                                        <a class="fas fa-edit float-right" id="edit" asp-area="Owner" asp-controller="OwnerPortal" asp-action="OwnerInfo"></a>
                                    </div>
                                    <div class="form-group row" id="formGroupLine">
                                        <div class="col-5">
                                            <h6>First Name</h6>
                                        </div>
                                        <div class="col-7">
                                            <p>@ViewData.Model.Owner.FirstName</p>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="formGroupLine">
                                        <div class="col-5">
                                            <h6>Last Name</h6>
                                        </div>
                                        <div class="col-7">
                                            <p>@ViewData.Model.Owner.LastName</p>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="formGroupLine">
                                        <div class="col-5">
                                            <h6>Birthday</h6>
                                        </div>
                                        <div class="col-7">
                                            <p>
                                                @if (ViewData.Model.Owner.Birthday == null)
                                                {
                                                    @:---
                                                }
                                                else
                                                {
                                                    @DateTime.Parse(ViewData.Model.Owner.Birthday.ToString()).ToShortDateString()
                                                }

                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="formGroupLine">
                                        <div class="col-5">
                                            <h6>Occupation</h6>
                                        </div>
                                        <div class="col-7">
                                            <p>@ViewData.Model.Owner.Occupation</p>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="formGroupLine">
                                        <div class="col-5">
                                            <h6>Street Address</h6>
                                        </div>
                                        <div class="col-7">
                                            <p>@ViewData.Model.Owner.Address</p>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="formGroupLine">
                                        <div class="col-5">
                                            <h6>Primary Phone</h6>
                                        </div>
                                        <div class="col-7">
                                            <p>@ViewData.Model.Owner.Phone</p>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="formGroupLine">
                                        <div class="col-5">
                                            <h6>Email</h6>
                                        </div>
                                        <div class="col-7">
                                            <p>@ViewData.Model.Owner.Email</p>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="formGroupLine">
                                        <div class="col-5">
                                            <h6>--In Case of Emergency--</h6>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="formGroupLine">
                                        <div class="col-5">
                                            <h6>Emergency Contact</h6>
                                        </div>
                                        <div class="col-7">
                                            <p>
                                                @if (ViewData.Model.Owner.EmergencyContactName == null)
                                                {
                                                    @:---
                                                }
                                                else
                                                {
                                                    @ViewData.Model.Owner.EmergencyContactName
                                                }
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="formGroupLine">
                                        <div class="col-5">
                                            <h6>Emergency Contact Phone</h6>
                                        </div>
                                        <div class="col-7">
                                            <p>
                                                @if (ViewData.Model.Owner.EmergencyContactPhone == null)
                                                {
                                                    @:---
                                                }
                                                else
                                                {
                                                    @ViewData.Model.Owner.EmergencyContactPhone
                                                }
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Change password">Change password</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            @*<div class="p-4 border rounded row" id="currentBalanceBox">
                                <div class="col-12">
                                    <div class="row">
                                        <h5 id="subtitle">Current Balance</h5>
                                    </div>
                                    <div class="row">
                                        <p id="currentBalanceAmt">$320.00</p>
                                    </div>
                                    <div class="row">
                                        <p id="currentBalanceText">Reminder that all HOA Annual Fees are due March 31, 2018</p>
                                    </div>
                                    <div class="row">
                                        <a id="paypalIcon" class="fab fa-cc-paypal" href="#"></a>
                                    </div>
                                </div>
                            </div>*@
                            <div class="p-4 border rounded row" id="lotsBox">
                                <div class="col-12">
                                    <div class="row">
                                        <h5 id="subtitle">Lots</h5>
                                    </div>
                                    <table id="table" class="table table-striped table-bordered table-sm">
                                        <tr>
                                            <th>Lot #</th>
                                            <th>Tax Id</th>
                                            <th>Inventory</th>
                                            <th></th>
                                        </tr>
                                        @foreach (var lot in Model.OwnerLots.Where(x => x.OwnerId == ViewData.Model.Owner.OwnerId))
                                        {
                                            <tr>
                                                <td style="white-space:nowrap;">
                                                    @lot.Lot.LotNumber   @*@if (User.IsInRole("Admin")){<a asp-action="Edit" asp-area="Owner" asp-controller="Lots" asp-route-id="@lot.LotId">Edit</a>}*@
                                                </td>
                                                <td>
                                                    @{ var taxLink = $"http://www3.co.weber.ut.us/psearch/tax_summary.php?id={lot.Lot.TaxId}"; }
                                                    <a href="@taxLink" target="_blank">@Html.DisplayFor(modelItem => lot.Lot.TaxId)</a>
                                                </td>
                                                <td>
                                                    @{ var items = String.Join("\n", lot.Lot.LotInventories.Select(u => u.Inventory.Description).ToList()); }
                                                    @items
                                                </td>
                                                <td>
                                                    <a asp-area="Owner" asp-controller="Lots" asp-action="EditLotItems" asp-route-id="@lot.Lot.LotId"><button type="button" class="btn btn-warning btn-sm">Edit Lot Items</button></a>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-lg-7 col-sm-12">
                            <div class="p-4 border rounded row" id="keysBox">
                                <div class="col-12">
                                    <div class="row">
                                        <h5 id="subtitle">Keys</h5>
                                    </div>
                                    <div class="row">
                                        <table id="table" class="table table-striped table-bordered table-sm">
                                            <tr>
                                                <th>Serial Number</th>
                                                <th>Date Issued</th>
                                                <th>Date Returned</th>
                                                <th>Status</th>
                                            </tr>
                                            @foreach (var key in Model.KeyHistories)
                                            {
                                            <tr>
                                                <td>
                                                    @key.Key.FullSerial 
                                                </td>
                                                <td>@DateTime.Parse(key.DateIssued.ToString()).ToShortDateString()</td>
                                                <td>
                                                    @if (key.DateReturned != null)
                                                    {
                                                        @DateTime.Parse(key.DateReturned.ToString()).ToShortDateString()
                                                    }
                                                </td>
                                                <td>
                                                    @if (key.Status == "Issued")
                                                    {
                                                        <p class="text-success">@key.Status</p>
                                                    }
                                                    else if (key.Status == "Returned")
                                                    {
                                                        <p class="text-warning">@key.Status</p>
                                                    }
                                                    else if (key.Status == "Lost")
                                                    {
                                                        <p class="text-danger">@key.Status</p>
                                                    }
                                                </td>
                                            </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-12">
                            <div class="p-4 border rounded row" id="noticeBox">
                                <div class="col-12">
                                    <div class="row">
                                        <h5 id="subtitle">Notice Something in the Community?</h5>
                                    </div>
                                    <div class="row">
                                        <a id="btnNotice" class="btn btn-info" asp-area="Owner" asp-controller="Forms" asp-action="SuggestionComplaint"><i class="fas fa-file-alt"></i> File A Suggestion or Complaint</a>
                                    </div>
                                    <div class="row">
                                        <a id="btnNotice" class="btn btn-info" href="~/docs/Sunridge-claim-form-fillable.pdf"><i class="fas fa-tools"></i> Property Damage or Loss Claim Form</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>