@model SunridgeHOA.Models.Banner

@{
    ViewData["Title"] = "Banner Item Details";
}

<h2>Banner Item Details</h2>
<hr />

<div class="row">
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Header)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Header)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Body)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-3">
                <img src="../../..@Html.DisplayFor(model => model.Image)" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>