@model List<SunridgeHOA.Models.Banner>

@{
    ViewData["Title"] = "Index";
}



<div class="row">
    @*<div class="col-2">
        <partial name="~/Views/Shared/_AdminNavbar.cshtml" />
    </div>*@

    <div id="windowFrame" class="">
        <div>
            <h2>Banner Item Index</h2>

            <p id="createAlign">
                <a asp-action="Create"><button type="button" class="btn btn-primary btn-sm">Create New Banner Item</button></a>
            </p>

            
            <table>
                <thead id="headTr">
                    <tr>
                        <th id="bannerHead">
                            Head
                        </th>
                        <th id="bannerBody">
                            Body
                        </th>
                        @*<th id="bannerImage">
                            Image
                        </th>*@
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td style="width: 25%">
                            @Html.DisplayFor(modelItem => item.Header)
                        </td>
                        <td style="width: 50%;">
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        @*<td>
                            <img class="col-10 img-responsive" src="../../..@Html.DisplayFor(modelItem => item.Image)" style="border-radius:5px;" />
                        </td>*@                      
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-info btn-sm">Edit</button></a> |
                            <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-warning btn-sm">Details</button></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
